body {
  margin: 0;
  background: linear-gradient(#9dd9f3, #dff4ff);
  font-family: sans-serif;
  overflow: hidden;
}

.title {
  text-align: center;
  color: white;
  margin: 20px 0;
}

#gameArea {
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}

/* 一般雲 */
.cloud {
  position: absolute;
  left: -150px;
  font-size: 80px;
  animation: moveCloud linear infinite;
  cursor: pointer;
}

/* 彩蛋雲 */
.easter {
  color: pink;
}

/* 雲移動 */
@keyframes moveCloud {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120vw);
  }
}
