body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
  font-family: "Segoe UI", sans-serif;
}

.title {
  text-align: center;
  color: white;
  margin: 10px 0;
}

/* 天空 */
#sky {
  position: relative;
  width: 100vw;
  height: 90vh;
}

/* ☁️ 雲 */
.cloud {
  position: absolute;
  width: 140px;
  height: 70px;
  background: white;
  border-radius: 50px;
  cursor: pointer;
  animation: moveCloud linear infinite;
}

/* 彩蛋雲（顏色不一樣） */
.cloud.easter {
  background: #ffd6e8;
  box-shadow: 0 0 10px pink;
}

/* 雲跑起來 */
@keyframes moveCloud {
  from {
    left: -160px;
  }
  to {
    left: 100vw;
  }
}

