body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;

  /* 藍色天空 */
  background: linear-gradient(to bottom, #87ceeb, #e0f6ff);

  overflow: hidden;
}


/* 白色卡片 */
.card {
  background: white;
  padding: 30px 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* 雲朵 */
.cloud {
  font-size: 80px;
  cursor: pointer;
  margin: 20px 0;
  transition: transform 0.2s;
}

.cloud:hover {
  transform: scale(1.2);
}

/* 文字 */
#message {
  font-size: 18px;
  color: #333;
}
.title {
  text-align: center;
  color: white;
  margin-top: 20px;
}

/* 遊戲區 */
#gameArea {
  position: relative;
  width: 100vw;
  height: 90vh;
}

